$bp-values: 0px, 400px, 640px, 1024px, 1400px;
$bp-names: 'xs', 'sm', 'md', 'lg', 'xl';

@mixin flex-child-width($gap, $size, $breakpoint, $max) {
  @media (min-width: $breakpoint) {
    & > .flex.#{$size}-0, .flex.#{$size}-0 {
      display: none;
      flex: 0 0 0px;
    }
    & > .flex.#{$size}-min {
      display: flex;
      flex: 0 0 auto;
      margin: $gap / 2;
    }
    @for $x from 1 to $max + 1 {
      
      & > .flex.#{$size}-#{$x} {
        display: flex;
        flex: 0 0 calc(#{percentage(1 / $x)} - #{$gap});
        margin: $gap / 2;
      }
      & > .flex.#{$size}r-#{$x} {
        display: flex;
        flex: $x $x auto;
        margin: $gap / 2;
      }
    }
  }
}

@mixin flex-grid-spacing($max) {
  @for $x from 0 to $max + 1 {
    $gap: $x * 0.25rem;
    &.gap-#{$x} {
      padding: $gap / 2;
      &.unmargin {margin: -1 * $gap;}
      @include flex-child-width($gap, nth($bp-names, 1), nth($bp-values, 1), 12);
      @include flex-child-width($gap, nth($bp-names, 2), nth($bp-values, 2), 12);
      @include flex-child-width($gap, nth($bp-names, 3), nth($bp-values, 3), 12);
      @include flex-child-width($gap, nth($bp-names, 4), nth($bp-values, 4), 12);
      @include flex-child-width($gap, nth($bp-names, 5), nth($bp-values, 5), 12);
    }
  }
}

.fill {
  width: 100%;
  height: 100%;
}

.flex {
  // Defaults
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex: 0 0 auto;
  align-self: stretch;
  padding: 0px;
  margin: 0px;

  // Self alignment
  &.self-fill {align-self: stretch;}
  &.self-start {align-self: flex-start;}
  &.self-center {align-self: center;}
  &.self-end {align-self: flex-end;}
  // Row/Reverse (default) Alignment
  &.top {align-content: flex-start;}
  &.middle {align-content: center;}
  &.bottom {align-content: flex-end;}
  &.left {justify-content: flex-start;}
  &.center {justify-content: center;}
  &.right {justify-content: flex-end;}
  // Col/Reverse Alignment
  &.col, &.col-rev {
    &.top {justify-content: flex-start;}
    &.middle {justify-content: center;}
    &.bottom {justify-content: flex-end;}
    &.left {align-content: flex-start;}
    &.center {align-content: center;}
    &.right {align-content: flex-end;}
  }
  // Direction
  &.row {flex-direction: row;}
  &.row-rev {flex-direction: row-reverse;}
  &.col {flex-direction: column;}
  &.col-rev {flex-direction: column-reverse;}
  // Wrapping
  &.nowrap {flex-wrap: nowrap;}
  &.wrap {flex-wrap: wrap;}
  &.wrap-rev {flex-wrap: wrap-reverse;}
  // Spacing between flex children
  @include flex-grid-spacing(6);
}


