$dark: #343531;
$light: #d1d1d1;
$prime: #6c9e65;
$alter: #b15b37;

$shadow_low: 0px 2px 4px 0px rgba(0,0,0,0.35); 
$shadow_mid: 0px 4px 6px 0px rgba(0,0,0,0.2); 
$shadow_high: 0px 6px 8px 1px rgba(0,0,0,0.1);

$transition: 0.1s ease-in-out;

@function d1($color) {
  @return darken($color, 2%);
}
@function darken2($color) {
  @return darken($color, 4%);
}
@function lighten1($color) {
  @return lighten($color, 2%);
}
@function lighten2($color) {
  @return lighten($color, 4%);
}

@mixin colorsFrom($fg, $bord, $bg) {
  color: $fg;
  border-color: $bord;
  background-color: $bg;
  &.button {
    outline: none;
    @include colorTransitions();
    &.hvr:hover {
      color: darken1($fg);
      border-color: darken1($bord);
      background-color: darken1($bg);
    }
    &.act:active {
      color: darken2($fg);
      border-color: darken2($bord);
      background-color: darken2($bg);
    }
  }
}

@mixin shadesFrom($name, $fg, $bord, $bg) {
  .color-#{$name} {
    &-lighter {@include colorsFrom($fg, $bord, lighten($bg, 10%))}
    &-light {@include colorsFrom($fg, $bord, lighten($bg, 5%))}
    @include colorsFrom($fg, $bord, $bg);
    &-dark {@include colorsFrom($fg, $bord, darken($bg, 5%))}
    &-darker {@include colorsFrom($fg, $bord, darken($bg, 10%))}
  }
}

@mixin colorTransitions {
  transition: 
    background-color $transition,
    color $transition,
    transform $transition,
    box-shadow $transition;
}

// Base Theme
body {
  background-color: $dark;
  color: $light;
  font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@include shadesFrom('standard', $light, $light, $dark);
@include shadesFrom('prime', $light, $light, $prime);
@include shadesFrom('alter', $light, $light, $alter);
@include shadesFrom('accent', $prime, $prime, $dark);
@include shadesFrom('alt-accent', $alter, $alter, $dark);

.surface {
  padding: 0.25rem;
  @include colorTransitions();
}

.button {
  cursor: pointer;
  border: none;
}

.icon-round-1 {
  border-radius: 100000px;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
}
.icon-round-2 {
  border-radius: 100000px;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}
.icon-round-3 {
  border-radius: 100000px;
  font-size: 2em;
  width: 2.5em;
  height: 2.5em;
}

.font-xs {font-size: 0.5rem;}
.font-sm {font-size: 0.75rem;}
.font-md {font-size: 1rem;}
.font-lg {font-size: 1.25rem;}
.font-xl {font-size: 1.5rem;}
.font-2x{font-size: 2rem;}
.font-2-5x {font-size: 2.5rem;}
.font-3x {font-size: 3rem;}

.lift-none {
  box-shadow: none;
}
.lift-shadow {box-shadow: $shadow_mid;}
.lift-raise {
  transform: translateY(-0.125rem);
  box-shadow: $shadow_high;
}
.lift-raise-depress {
  box-shadow: $shadow_high;
  &:hover {
    transform: translateY(-0.0625rem);
    box-shadow: $shadow_mid;
  }
  &:active {
    transform: translateY(0rem);
    box-shadow: $shadow_low;
  }
}
.lift-shadow-depress {
  box-shadow: $shadow_high;
  &:hover {
    box-shadow: $shadow_mid;
  }
  &:active {
    box-shadow: $shadow_low;
  }
}

.bord-xs {
  border-style: solid;
  border-width: 0.0625rem;
}
.bord-sm {
  border-style: solid;
  border-width: 0.125rem;
}
.bord-md {
  border-style: solid;
  border-width: 0.25rem;
}
.bord-lg {
  border-style: solid;
  border-width: 0.375rem;
}
.bord-xl {
  border-style: solid;
  border-width: 0.5rem;
}
.bord-none {
  border-style: none;
  border-width: 0rem;
}

.pad-xs {padding: 0.125rem}
.pad-sm {padding: 0.25rem;}
.pad-md {padding: 0.5rem;}
.pad-lg {padding: 1rem;}
.pad-xl {padding: 1.5rem;}

.round-xs {border-radius: 0.125rem;}
.round-sm {border-radius: 0.25rem;}
.round-md {border-radius: 0.5rem;}
.round-lg {border-radius: 1rem;}
.round-xl {border-radius: 1.5rem;}
.round-pill  {border-radius: 10000px;}



.center {
  text-align: center;
}