@mixin flex-width($size, $max) {
  .#{$size}-0 {
    display: none;
    flex: 0 0 0px;
  }
  @for $x from 1 to $max + 1 {
    .#{$size}-#{$x} {
      display: inline-block;
      flex: 0 0 percentage(1 / $x);
    }
    .#{$size}-rel-#{$x} {
      display: inline-block;
      flex: 1 1 ($x * 1fr);
    }
  }
}

@mixin flex-grid-spacing($max) {
  @for $x from 0 to $max + 1 {
    $pad: $x * 0.125rem;
    &.gap-#{$x} {
      padding: $pad;
      &.unmargin {margin: -2 * $pad;}
      & > .flex-item {
        padding: $pad;
        margin: 0;
      }
    }
  }
}

.fill {
  width: 100%;
  height: 100%;
}

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  &.top {align-content: flex-start;}
  &.middle {align-content: center;}
  &.bottom {align-content: flex-end;}
  &.left {justify-content: flex-start;}
  &.center {justify-content: center;}
  &.right {justify-content: flex-end;}
  &.row {
    flex-direction: row;
    &-rev {flex-direction: row-reverse;}
  }
  &.col {
    flex-direction: column;
    &-rev {flex-direction: column-reverse;}
  }
  &.no-wrap {flex-wrap: nowrap;}
  &.wrap {
    flex-wrap: wrap;
    &-rev {flex-wrap: wrap-reverse;}
  }
  &.row, &.row-rev {
    &.top {align-content: flex-start;}
    &.middle {align-content: center;}
    &.bottom {align-content: flex-end;}
    &.left {justify-content: flex-start;}
    &.center {justify-content: center;}
    &.right {justify-content: flex-end;}
  }
  &.col, &.col-rev {
    &.top {justify-content: flex-start;}
    &.middle {justify-content: center;}
    &.bottom {justify-content: flex-end;}
    &.left {align-content: flex-start;}
    &.center {align-content: center;}
    &.right {align-content: flex-end;}
  }
  @include flex-grid-spacing(12);
}

.flex-item {
  align-self: stretch;
  &.start {align-self: flex-start;}
  &.center {align-self: center;}
  &.end {align-self: flex-end;}
}

// Extra-Small < 400px (Small Phones)
@include flex-width("xs", 12);

// Small >= 400px (Large Phones)
@media screen and (min-width: 400px){
  @include flex-width("sm", 12);
}

// Medium >= 600px (Tablets)
@media screen and (min-width: 600px) {
  @include flex-width("md", 12);
}

// Large >= 1000px (Large Tablets/Small Laptops)
@media screen and (min-width: 1000px) {
  @include flex-width("lg", 12);
}

// Extra-Large >= 1400px (Desktops)
@media screen and (min-width: 1400px) {
  @include flex-width("xl", 12);
}

