$dark: rgb(52, 53, 49);
$light: rgb(209, 209, 209);
$prime: rgb(123, 179, 114);
$alter: rgb(177, 91, 55);

$shadow_low: 0px 2px 5px 1px rgba(0,0,0,0.5); 
$shadow_mid: 0px 4px 8px 2px rgba(0,0,0,0.2); 
$shadow_high: 0px 8px 10px 3px rgba(0,0,0,0.1);

$transition: 0.1s ease-in-out;

@function darken1($color) {
  @return darken($color, 3%);
}
@function darken2($color) {
  @return darken($color, 6%);
}
@function lighten1($color) {
  @return lighten($color, 3%);
}
@function lighten2($color) {
  @return lighten($color, 6%);
}

@mixin colorsFrom($fg, $bord, $bg) {
  color: $fg;
  border-color: $bord;
  background-color: $bg;
  &.button {
    outline: none;
    @include colorTransitions();
    &.hvr:hover {
      color: darken1($fg);
      border-color: darken1($bord);
      background-color: darken1($bg);
    }
    &.act:active {
      color: darken2($fg);
      border-color: darken2($bord);
      background-color: darken2($bg);
    }
  }
}

@mixin colorTransitions {
  transition: 
    background-color $transition,
    color $transition,
    transform $transition,
    box-shadow $transition;
}

// Base Theme
body {
  background-color: $dark;
  color: $light;
  font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color-standard, .color-standard-dark {
  @include colorsFrom($light, $light, $dark);
}
.color-standard-light {
  @include colorsFrom($dark, $dark, $light);
}

.color-prime {
  @include colorsFrom($light, $light, $prime);
}

.color-alter {
  @include colorsFrom($light, $light, $alter);
}

.color-prime-accent {
  @include colorsFrom($prime, $prime, $dark)
}

.color-alter-accent {
  @include colorsFrom($alter, $alter, $dark)
}

.color-prime-dark {
  @include colorsFrom($dark, $dark, $prime)
}

.color-alter-dark {
  @include colorsFrom($dark, $dark, $alter)
}

.color-clash {
@include colorsFrom($alter, $alter, $prime)
}

.surface {
  padding: 0.25rem;
  @include colorTransitions();
}

.button {
  cursor: pointer;
}

.lifted {
  transform: translateY(-0.125rem);
  box-shadow: $shadow_high;
  &.hvr:hover {
    transform: translateY(-0.0625rem);
    box-shadow: $shadow_mid;
  }
  &.act:active {
    transform: translateY(0rem);
    box-shadow: $shadow_low;
  }
}

.bord-sm {
  border-style: solid;
  border-width: 0.0625rem;
}
.bord-md {
  border-style: solid;
  border-width: 0.125rem;
}
.bord-lg {
  border-style: solid;
  border-width: 0.25rem;
}

.pad-sm {padding: 0.25rem;}
.pad-md {padding: 0.5rem;}
.pad-lg {padding: 1rem;}

.round-sm {border-radius: 0.25rem;}
.round-md {border-radius: 0.5rem;}
.round-lg {border-radius: 1rem;}
.round-pill  {border-radius: 10000px;}